@charset "utf-8";
/* CSS Document */

body {
	/* background color + default image (in-case random-bg.js fails) */
	background: #000 url('../images/bg-body/u2-360-tour-eeuu.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

